main div:first-child {
    transform: translateX(-150%);
    opacity: 0;
}

main div:last-child {
    transform: translateX(150%);
    opacity: 0;
}

.slide-in {
    transform: translateX(0) !important;
}

.underline {
    position: relative;
  }
  
  .underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%;
    height: 2px;
    background-color: #0b3c5d;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .underline-visible::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
